---
const {nomMaison,prix,surface,favori,adresse,id,nbChambres,nbSdb} = Astro.props;
---
<li class="bg-cyan-500 rounded-lg">
    <p class="text-white text-2xl">{nomMaison}</p>
    <p>{prix}€</p>
    <p>{nbChambres} chambres</p>
    <p>{nbSdb} salles de bain</p>
    <p>{surface}m2</p>
    <p>{adresse}</p>
    <p>{id}id</p>
    <p>favori = {favori} </p>
</li>
